@page "/entrance"

@inject NavigationManager NavigationManager

@using Datas

<div id="wrapper">
    <div id="content">
        <div class="card text-center">
            <h1>Hello!</h1>

            <h5>I'm <span style="color:red;"><b>Red Crab</b>🦀</span> of Christmas Island.</h5>

            <div class="card-img">
                <img src="image/hello_crab.jpg" style="width:500px;" />
            </div>

            <div class="card-body">
                I'm <input type="text" @bind="MyName" />.
                <button class="btn btn-dark" @onclick="GoToDeparture">Hi, Crabby!</button>
            </div>

        </div>
    </div>
</div>

@code {
    string MyName;

    void GoToDeparture() {
        User.Name = MyName;
        NavigationManager.NavigateTo("/departure");
    }
}
