@page "/forest/intro"

@inject NavigationManager NavigationManager

<div id="wrapper">
    <div id="content">
        <div class="card text-center">
            <h1>This is our <span style="color:green;"><b>Forest</b></span>.</h1>

            <h5>
                There are ants in forest. We should avoid ants🐜. However, don't worry!<br />
                We can find road by following roles.
            </h5>

            <ul class="text-left">
                <li>Press any key to start</li>
                <li>Press any key to jump</li>
                <li>Pass 10 Ants</li>
            </ul>

            <div class="card-img">
                <img src="image/forest_crab.jpg" style="width:500px;" />
            </div>

            <div class="card-body">
                <button class="btn btn-dark" @onclick="GoToForest">Start</button>
            </div>

        </div>
    </div>
</div>

@code {
    void GoToForest() {
        NavigationManager.NavigateTo("/forest");
    }
}
